:root {
  --box-shadow-lg: #939393 0px 0px 3px;
  --box-shadow-sm: #939393 0px 0px 1.5px;
  --warm-black: #241f19;
  --font-size-md: clamp(14px, 3vw, 16px);
  --font-size-sm: clamp(12px, 2vw, 16px);

  --dark-theme-white: #939393;
}

body {
  overflow: hidden;
  color: var(--warm-black);
  font-size: var(--font-size-md);
}

.hidden {
  display: none;
}

button {
  border: 1px solid #919191;
  border-radius: 6px;
  color: inherit;
  font-size: var(--font-size-sm);
  cursor: pointer;
  background-color: #fff;
  transition: .3s ease;
  -webkit-transition: .3s ease;
}

.todo-window {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 50dvw;
  min-width: 35ch;
  height: 50dvh;
  min-height: 30ch;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: var(--box-shadow-lg);
  margin-inline: auto;
}

.input-section {
  display: flex;
  position: relative;
  width: 80%;
  height: 34px;
  font-size: 15px;
}

.input-task {
  z-index: 2;
  position: absolute;
  width: calc(100% - 16px);
  height: 20px;
  padding: 6px 7px;
  border: 1px solid #919191;
  border-radius: 6px;
  color: inherit;
  font-size: var(--font-size-md);
  transition: .3s ease .15s;
  -webkit-transition: .3s ease .15s;
}

.input-task:focus {
  width: 70%;
  outline: none;
  box-shadow: var(--box-shadow-sm);
}

.done-btn {
  z-index: 1;
  position: absolute;
  right: 0;
  width: 20%;
  height: inherit;
  transition-delay: ease .2s;
  -webkit-transition-delay: .3s ease;
}

.done-btn:hover {
  scale: 1.05;
}

.tasks {
  width: 100%;
  height: inherit;
  margin-top: 10px;
  overflow: scroll;
}

@media (prefers-color-scheme: dark) {
  * {
    color: white;
    transition: .3s ease;
    color-scheme: dark;
  }

  body {
    background-color: #131313;
  }

  .todo-window {
    border: 2px solid #939393;
    background-color: #313131;
    box-shadow: none;
  }

  .input-task {
    background-color: #313131;
  }

  .done-btn {
    background-color: #313131;
  }
}